<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">
    <div class="row pad-all text-center">
      <h4 class="title margin-left-right">{{players[0].TEAM}}</h4>
      <div class="row pull-right margin-left-right">
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="pad-left-right">
      <div class="row">
        <p><strong>Players:</strong></p>
        <span class="label-value"> {{players[0].FULL_NAME}} (PPG: {{players[0].PPG}}, RPG: {{players[0].RPG}}, APG {{players[0].APG}})</span>
        <br>
        <span class="label-value"> {{players[1].FULL_NAME}} (PPG: {{players[1].PPG}}, RPG: {{players[1].RPG}}, APG {{players[1].APG}})</span>
        <br>
        <span class="label-value"> {{players[2].FULL_NAME}} (PPG: {{players[2].PPG}}, RPG: {{players[2].RPG}}, APG {{players[2].APG}})</span>
        <br>
        <span class="label-value"> {{players[3].FULL_NAME}} (PPG: {{players[3].PPG}}, RPG: {{players[3].RPG}}, APG {{players[3].APG}})</span>
        <br>
        <span class="label-value"> {{players[4].FULL_NAME}} (PPG: {{players[4].PPG}}, RPG: {{players[4].RPG}}, APG {{players[4].APG}})</span>
        <br>
        <span class="label-value"> {{players[5].FULL_NAME}} (PPG: {{players[5].PPG}}, RPG: {{players[5].RPG}}, APG {{players[5].APG}})</span>
        <br>
        <span class="label-value"> {{players[6].FULL_NAME}} (PPG: {{players[6].PPG}}, RPG: {{players[6].RPG}}, APG {{players[6].APG}})</span>
        <br>
        <span class="label-value"> {{players[7].FULL_NAME}} (PPG: {{players[7].PPG}}, RPG: {{players[7].RPG}}, APG {{players[7].APG}})</span>
        <br>
        <span class="label-value"> {{players[8].FULL_NAME}} (PPG: {{players[8].PPG}}, RPG: {{players[8].RPG}}, APG {{players[8].APG}})</span>
        <br>
        <span class="label-value"> {{players[9].FULL_NAME}} (PPG: {{players[9].PPG}}, RPG: {{players[9].RPG}}, APG {{players[9].APG}})</span>
        <br>
        <span class="label-value"> {{players[10].FULL_NAME}} (PPG: {{players[10].PPG}}, RPG: {{players[10].RPG}}, APG {{players[10].APG}})</span>
        <br>
        <span class="label-value"> {{players[11].FULL_NAME}} (PPG: {{players[11].PPG}}, RPG: {{players[11].RPG}}, APG {{players[11].APG}})</span>
        <br>
        <span class="label-value"> {{players[12].FULL_NAME}} (PPG: {{players[12].PPG}}, RPG: {{players[12].RPG}}, APG {{players[12].APG}})</span>
        <br>
        <span class="label-value"> {{players[13].FULL_NAME}} (PPG: {{players[13].PPG}}, RPG: {{players[13].RPG}}, APG {{players[13].APG}})</span>
        <br>
        <span class="label-value"> {{players[14].FULL_NAME}} (PPG: {{players[14].PPG}}, RPG: {{players[14].RPG}}, APG {{players[14].APG}})</span>
        <br>
        <span class="label-value"> {{players[15].FULL_NAME}} (PPG: {{players[15].PPG}}, RPG: {{players[15].RPG}}, APG {{players[15].APG}})</span>
        <br>
        <span class="label-value"> {{players[16].FULL_NAME}} (PPG: {{players[16].PPG}}, RPG: {{players[16].RPG}}, APG {{players[16].APG}})</span>
        <br>
        <span class="label-value"> {{players[17].FULL_NAME}} (PPG: {{players[17].PPG}}, RPG: {{players[17].RPG}}, APG {{players[17].APG}})</span>
        <br>
        <span class="label-value"> {{players[18].FULL_NAME}} (PPG: {{players[18].PPG}}, RPG: {{players[18].RPG}}, APG {{players[18].APG}})</span>
        <br>
        <span class="label-value"> {{players[19].FULL_NAME}} (PPG: {{players[19].PPG}}, RPG: {{players[19].RPG}}, APG {{players[19].APG}})</span>
        <br>
        <span class="label-value"> {{players[20].FULL_NAME}} (PPG: {{players[20].PPG}}, RPG: {{players[20].RPG}}, APG {{players[20].APG}})</span>
        <br>
        <span class="label-value"> {{players[21].FULL_NAME}} (PPG: {{players[21].PPG}}, RPG: {{players[21].RPG}}, APG {{players[21].APG}})</span>
        <br>
        <span class="label-value"> {{players[22].FULL_NAME}} (PPG: {{players[22].PPG}}, RPG: {{players[22].RPG}}, APG {{players[22].APG}})</span>
        <br>
        <span class="label-value"> {{players[23].FULL_NAME}} (PPG: {{players[23].PPG}}, RPG: {{players[23].RPG}}, APG {{players[23].APG}})</span>
        <br>
        <span class="label-value"> {{players[24].FULL_NAME}} (PPG: {{players[24].PPG}}, RPG: {{players[24].RPG}}, APG {{players[24].APG}})</span>
        <br>
      </div>
      <br>
    </div>
  </div>
</div>